.add-table {
	padding: 30px;

	> h1 {
		font-size: 20px;
		margin-bottom: 15px;
	}

	> fieldset {
		border: 1px dotted gray;
		padding: 20px;

		> .error {
			display: block;
			color: red;
			margin-bottom: 10px;
		}

		> label {
			display: block;
			margin-bottom: 8px;

			> span {
				display: inline-block;
				width: 150px;
				font-weight: bold;
			}
		}
	}
}