$column-item-height: 25px;

.columns {
  > div {
    height: $column-item-height;
    line-height: $column-item-height;
  }

  .add-column-icon,
  .icon-remove {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
  }

  .column-name {
    margin-right: 5px;
  }

  .add-column {
    margin-left: 5px;
    cursor: pointer;
  }

  .add-column-icon {
    background-image: inline-image('icon-add.svg');
  }

  .icon-remove {
    background-image: inline-image('icon-remove.svg');
    cursor: pointer;

  }
}