.tables {
     .table-add-icon {
       width: 14px;
       height: 14px;
       display: inline-block;
       vertical-align: top;
       background-image: inline-image('icon-add.svg');
  }
    .table-add-text {
      margin-left: 5px;
    }
}