$table-item-height: 30px;

.table-item {
  > .icon-remove,
  > .icon-plus,
  > .icon-minus {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
  }

  > .icon-plus {
    background-image: inline-image('icon-expand-arrow.svg');
  }

  > .icon-minus {
    background-image: inline-image('icon-collapse-arrow.svg');
  }

  > .table-name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    height: $table-item-height;
    line-height: $table-item-height;
    color: black;
  }

  > .icon-remove {
    background-image: inline-image('icon-remove.svg');
    cursor: pointer;
  }

  > .columns {
    margin-left: 23px;
  }
}