@import './lhp-vars.scss';

.lhp {
	display: block;
	background: #bad0ef;
	overflow: auto;

	> .add-db-button {
		width: 90%;
		height: $lhp-add-db-button-height;
		margin-top: 20px;
		margin-left: 5%;
	}

	> .db-list {
		width: 90%;
		margin-left: 5%;
		margin-top: 20px;
	}
}