$db-list-item-height: 30px;

.db-list-item {
	> .icon-plus,
	> .icon-minus {
		width: 14px;
		height: 14px;
		display: inline-block;
		vertical-align: middle;
	}

	> .icon-plus {
		background-image: inline-image('icon-expand-arrow.svg');
	}

	> .icon-minus {
		background-image: inline-image('icon-collapse-arrow.svg');
	}

	> .db-name {
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
		height: $db-list-item-height;
		line-height: $db-list-item-height;
		cursor: pointer;
		color: blue;
	}

	> .tables {
		margin-left: 23px;
	}
}