*, :before, :after {
	@include box-sizing(border-box);
	margin: 0;
	padding: 0;
}

body, td, fieldset, input[type='checkbox'], input[type='radio'], button {}

body, input, select, textarea, button {
	font-family: $font-family;
	font-size: $font-size;
}

fieldset, img, a {
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

// ::-moz-focus-inner cannot be concatenated with other elements.
// it disables the styling for them
button::-moz-focus-inner, form::-moz-focus-inner, a::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
}

// Firefox draws a red box shadow on required inputs
input[required], input:required,
select[required], select:required,
textarea[required], textarea:required {
	box-shadow: none;
}

:focus, form, a, input {
	outline: 0;
}

ol, ul {
	list-style: none;
	padding: 0;
}

a, ins {
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;

	th { text-align: left; }
}

textarea {
	overflow: auto;
	resize: none;
}