$header-height: 50px;
$lhp-width: 25%;

@import 'compass';
@import './_base.scss';
@import './_reset.scss';

#app {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	> header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: $header-height;
		line-height: $header-height;
		text-align: center;
		font-size: 18px;
		color: white;
		background-color: #232323;
	}

	> .lhp {
		position: absolute;
		top: $header-height;
		bottom: 0;
		left: 0;
		width: $lhp-width;
	}

	> .rhp {
		position: absolute;
		top: $header-height;
		bottom: 0;
		right: 0;
		left: $lhp-width;
	}
}